$brown-color-light: #BA8554
$brown-color-dark: #A14F03
$grey-color: #777
$grey-color-light: #FAFAFA
$gradient-brown-black: linear-gradient(90deg, rgba(186, 133, 84, 0.70) 0.03%, rgba(1, 1, 1, 0.70) 99.94%)
$gradien-light-brown_dark: linear-gradient(90deg, #C3956A 3.65%, #A14F03 100%)